ex01e-spring-soap/src/main/resources/META-INF/schemas/service.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://example.com/service"
           xmlns="http://example.com/service"
           elementFormDefault="qualified">

    <xs:simpleType name="numeroEncomendaTipo">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{12}" />
        </xs:restriction>
    </xs:simpleType>

    

    <xs:element name="getEncomendaRequest" >
        <xs:complexType>
            <xs:sequence>
                <xs:element name="numeroEncomenda" type="numeroEncomendaTipo"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>


    <xs:element name="getEncomendaResponse" >
        <xs:complexType>
            <xs:sequence>
                <xs:element name="nomeCliente" type="xs:string" />
                <xs:element name="email" type="xs:string" />
                <xs:element name="moradaEntrega" type="xs:string" />
                <xs:element name="produto" type="xs:string" />
                <xs:element name="quantidade" type="xs:string" />
                <xs:element name="estado" type="xs:string" />
                <xs:element name="dataEncomenda" type="xs:string" />
                <xs:element name="numeroEncomenda" type="numeroEncomendaTipo"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>
